body {
  scroll-behavior: smooth;
}
.hero {
  height: 100vh;
  background-image: url('../assets/grpnew.gif');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.project-card {
      max-width: 300px;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
    .project-card img {
      height: 150px;
      object-fit: cover;
      width: 100%;
    }
    .project-card .card-body {
      padding: 15px;
    }
    .modal-content {
      border-radius: 12px;
    }
    .projects{
        display: flex;
        margin: auto;
        flex-wrap: wrap;
    }